@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

* {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Roboto;
    font-size: 10px;
    font-weight: 300;
    line-height: 3.5em;
  }

  h1{
    font-size: 9em;
    text-align: center;
    text-transform: uppercase;
  }
  
  h2{
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
    line-height: 4em;
    color: white;
    text-shadow: #020819 8px -20px 9px;
  }
  
  h3{
    font-size: 4.2em;
    text-align: center;
  }
  
  h4{
    font-size: 1.5em;
    letter-spacing: 0.4px;
    /*Box Model*/
    margin-bottom: 15px;
  }
  
  h5{
    font-size: 1.2em;
  }

  .nav-bar{
    background: rgb(25, 33, 41);
    /*Box model*/
    padding-top: 14px;
    /*Layout model*/
    height: 40px;
  }

  .nav-bar-item{
    color: white;
    text-decoration: none;
    font-size: 2em;
  }

  .nav-bar-ul{
    /*Box model*/
    width: 1200px;
    margin: auto;
  }

  .nav-bar-li{
    /*Box model*/
    list-style-type: none;
    text-align: center;
    /*Layout model*/
    float: left;
    width: 33%;
  }

  .header{
    background-image:url('https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg');
    background-position: 0,0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    /*Box model*/
    padding-top: 50px;
    /*Layout model*/
    position: relative; /*If you don’t do that, the quote be positioned in relation to the <body> instead of the header*/
  }

  .quote{
    font-size: 2.5em;
    /*Layout model*/
    position: absolute;
    left: 10%;
    bottom: 15vh;
  }

  .dark-background{
    background: rgb(25, 33, 41);
    color: white;
  }

  #general-information .text{
    font-size: 2em;
    font-weight: 100;
    text-align: center;
    /*Box model*/
    margin-top: 20px;
  }

  .link-btn{
    background: rgb(67, 163, 230);
    color: white;
    font-family: Roboto Condensed;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.5px;
    /*Layout model*/
    display: block;
    width: 150px;
    margin: 40px auto 0 auto;
    padding: 14px 20px 14px 20px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    
  }

  .service-box{
    font-size: 1.7em;
    text-align: center;
    /*Box Model*/
    border-width: 2px;
    border-style: solid;
    border-color: #eeeeee;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 0 #eee;
    margin-top: 50px;
    margin-right: 5%;
    margin-bottom: 0;
    margin-left: 5%;
    padding: 20px;
    width: 40%;
  }

  .service-box .img{
    width: 125px;
  }

  #team .section-text{
    font-size: 1.5em;
    text-align: center;
    /*Box Model*/
    width: 60%;
    margin: 10px auto;
  }
  
  #team .member-name{
    font-size: 1.5em;
    font-weight: 700;
    /*Layout model*/
    display: block;
    text-align: center;
  }

  .footer{
    font-size: 1.9em;
    text-align: center;
    /*Box Model*/
    padding: 0 100px 0 100px;
  }

  .address{
    font-size: 0.8em;
    font-style: normal;
    /*Box Model*/
    margin: 0 0 30px 0;
  }

  .follow-list{
    list-style-type: none;
    /*Box Model*/
    margin: 0 0 25px 0;
  }

  .footer .link{
    color: rgb(67, 163, 230);
    text-decoration: none;
  }

/*Box model*/
.container{
  width: 1200px;
  margin: auto;
  padding: 75px 0;
}

#team hr{
  width: 40%;
  margin: 20px auto 30px auto;
}

/*Layout model*/

.col { 
  float: left; 
}

.col-3 { 
  width: 30%;
} /* 30% | 30% | 30% */

.col-2 { 
  width: 40%;
  margin: 5% 5% 0 5%;
} /* 30% | 30% | 30% */

.col-middle {
  margin: 0 5% 0 5%;
 } /* 5% | content | 5% */

.clearfix { clear: both; }

.map-frame{
  height: 375px;
  width: 60%;
  float: right;
}