div{
  border: 1px solid transparent;
}

/*General values*/
.display-inline{
  display: inline;
}

.col-left { 
  float: left; 
}

.col-right { 
  float: right; 
}

.pos-relative{
  position: relative;
}

.col-1{
  width: 100%;
}

.col-2{
  width: 50%;
}

.col-3{
  width: 33%;
}



.col-4{
  width: 25%;
}

.col-5{
  width: 20%;
}

.col-8{
  width: 12.5%
}

.col-10 { 
  width: 10%;
} 

.col-15{
  width: 15%;
}



.clearfix { clear: both; }


.link-btn{
  border-radius: 20px;
  border-style: solid;
  border-color:transparent;
  padding: 10px 20px 10px  20px;
  box-sizing: border-box;
}

.button-container{
  margin-top: 30px;
}

h1, h2, p, ul{
  font-family: "Open Sans", OpenSans, sans-serif;
  font-weight: 200;
}

ul {
  list-style-position: inside;
  padding-left:0;
}

li{
  font-size: 1em;
  padding:0 0 1em 0;  
}



/*Navigation bar*/
nav{
  display: flex;
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 18px;
  margin-bottom: 5px;
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
}

nav .top-left{
  display: inline-block;
  float: left;
  flex-grow: 1; /*Expandir */
}

nav .top-right{
  display: flex;
  float: right;
}

nav .top-links{
  list-style-type: none; /*eliminar bullets*/
  display: flex;
  justify-content: space-between;  
  margin-top: 0%;  /*justifica horizontalmente top-left*/
  margin-bottom: 0%;
}


nav a{
  color:rgba(255,255, 255,0.8);
  text-decoration: none;
  margin-right: 1rem;
  float: left;
}

/*Header*/
header{
  background: rgb(32, 89, 122);
  color: white;
}

.header-site{
  background-color: #000000;
  background-image: url(images/hero-cityscape.svg); 
  background-position: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: 80px;
}

header .search-head{
  padding-top: 16px;
}



.npm-logo-container{
  padding-top: 15px;
  margin-left: 15px;
  margin-right:15px;
}

.form-container{
  padding-top: 15px;
  margin: 0 0 0 0%;
  width: 82%;
}

.links-container{
  float: left;
  padding-top: 20px;
  padding-left: 1%;
  margin-right:2px;   
}

.bear-container{
  float: right;
  padding-top: 15px;
}

#find-package{
  height:29px;
  width: 96%;
  vertical-align: middle;
  margin-bottom: 20px;
  border: 1px solid rgb(143, 172, 188);
  background-color: rgb(32, 89, 122);  
}

#find-button{
  vertical-align: middle;
  margin-bottom: 20px;
  height:27px;
  background-color: rgb(32, 89, 122);
  border: 1px solid rgb(143, 172, 188);
}


.links{
  text-decoration: none;
}

/*Sections background*/
#group-collaboration{
  background-color: rgb(39, 53, 71);
  padding-top: 60px;
  padding-bottom: 80px;
}
#bear-working{
  background-image: url("./images/forklift.svg");
  padding-top: 60px;
  padding-bottom: 125px;
  color: white;
}


/*Inner build things layout*/

#build-things-head{
  color: white;
  margin-top: 10px;
}


#signup-open-button{
  color: white;
  margin-bottom: 100px;
  text-decoration: none;
  background-color: rgb(239, 145, 51);

}

/*Collaboration layout*/
#collaboration-text{
  margin-left: 50px;
  color: white;
}

#signup-groups-button{
  color: white;
  margin-bottom: 100px;
  text-decoration: none;
  background-color: rgb(203, 56, 55);
}

#learn-groups{
  color: white;
  text-decoration: none;  
}

/*Bear working layout*/

#install-button{
  color: white;
  text-decoration: none;  
  background-color: rgb(52, 73, 94);
}

/*Options section layout*/
h2{
  text-align: center;
}
.center-content{
  display: block;
  margin-top: 10px;;
  margin-left: auto;
  margin-right: auto  
}

.center-text{
  text-align: center;
}

.margin-ps{
  margin-left: 40px;
  margin-right: 40px;
}

.padding-ps{
  padding-right: 150px;
}

#options-section{
  margin-bottom: 100px;
}

